 body {
     margin: 0;
     padding: 0;
     width: 100%;
     font-family: 'Manrope', sans-serif;
 }

 a,
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
     text-decoration: none;
     line-height: 1.2;
 }

 ul {
     list-style: none;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 button {
     border: none;
 }

 button:focus,
 textarea:focus,
 select:focus {
     outline: none !important;
     -webkit-appearance: none;
     box-shadow: none;
 }

 input:focus {
     outline: none !important;
 }

 a:active,
 a:focus {
     outline: 0;
     outline: none !important;
     border: none;
     -moz-outline-style: none;
 }


 .wrapper {
     overflow: hidden;
 }

 .container {
     max-width: 1240px;
     margin: 0 auto;
 }

 /* Header seris start */

 .navbar-collapse {
     padding: 24px 0 32px 0;
     justify-content: space-between;
     align-items: center;
 }

 .header .nav-link {
     color: #000;
     font-size: 14px;
     font-family: "Inter";
     font-weight: 600;
     line-height: 19px;
 }

 .header .head-right {
     display: flex;
     gap: 20px;
     align-items: center;
 }

 .header .head-burger {
     display: flex;
     padding: 6px 6px 6px 13px;
     align-items: center;
     gap: 12px;
     border-radius: 21px;
     border: 1px solid #DDD;
     background: #FFF;
 }



 /* Header seris end */